extends ./layout

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Proyecto
            span.font-normal Universidad
        h2.text-center.text-2xl.font-extrabold= pagina

        // Muestra los errores si existen
        if errores
            div(class="max-w-md mx-auto my-10")
                each error in errores
                    p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5(action="/cursos" method="POST" )
                    
                    // Campo Nombre del Curso
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="nombre") Nombre del Curso
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md(placeholder="Nombre del curso" type="text" name="nombre" value=(datos ? datos.nombre : '') required)

                    // Campo Descripci贸n
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="descripcion") Descripci贸n
                        input#descripcion.w-full.px-3.py-2.border.border-gray-300.rounded-md(placeholder="Descripci贸n" type="text" name="descripcion" value=(datos ? datos.descripcion : '') required)

                    // Campo Profesor
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="profesor") Profesor
                        select#profesor.w-full.px-3.py-2.border.border-gray-300.rounded-md(name="profesor_id" required)
                            option(value="" disabled selected) Selecciona un profesor
                            each profesor in profesores
                                option(value=profesor.id selected=(datos && datos.profesor_id == profesor.id) ? true : false)= profesor.nombre + " " + profesor.apellido

                    // Bot贸n para enviar el formulario
                    input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Crear Curso")
